@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ant-input-search {
  width: 85%;
}

.ant-col-12 {
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-card {
  width: 90%;
}